/*Button Group*/
.btn {
    background: var(--unselected_tab);
    color: var(--selected_tab);
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: 0;
    border: 0.5px solid var(--selected_tab);
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer; /* Pointer/hand icon */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.btn:not(:last-child){
    margin-right: 5%;  
}
.btn:last-child{
    margin-right: 5%;
}
.btn:first-child{
    margin-left: 5%;
}
.btn-active{
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: 0;
    border: 0.5px solid var(--selected_tab);
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer; /* Pointer/hand icon */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    background: var(--selected_tab);
    color: var(--boxbackground);
}

.btn-active:not(:last-child){
    margin-right: 5%;  
}
.btn-active:last-child{
    margin-right: 5%;
}
.btn-active:first-child{
    margin-left: 5%;
}