DirectoryIndex disabled
RewriteEngine On

# Internally rewrite /app to /
RewriteCond %{REQUEST_URI} ^/public_html/app
RewriteRule ^public_html/app/(.*)$ /public_html/$1 [L]

# Proxy all requests to Node.js application
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]