DirectoryIndex disabled 

# Enable Rewrite Engine
RewriteEngine On 
RewriteBase / 

# Redirect all requests to /app
RewriteRule ^(.*)$ /public_html/$1 [L]

# Proxy requests to the Node.js application running on port 3000
RewriteRule ^public_html/(.*)$ http://127.0.0.1:3000/$1 [P,L]