:root {
    --bodybackground: #f0ffff;
    --boxbackground: white;
    --border: #e3e3e3;
    --shadow: #0000001a;
    --unselected_tab: #f0f0f0;
    --unselected_tab_border: #9e9e9e;
    --unselected_tab_color: #828282;
    --selected_tab:#0d7777;
    --light_teal: #1ac1b7;
    --dark_teal: #00746a;
    --tab_focus: hsl(208, 99%, 50%);
}

.super-edu-body{
    display: flex;
    background: var(--light_teal);
    padding: 50px;
}

.edu-body{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1000px;
    margin: auto;
    margin-top: 0px;
}

.width-of-textchart{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    max-width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
}

.grid-of-textchart{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.title-for-chart{
    font-family: 'Roboto slab';
    margin-bottom: 10px;
    font-size: 20px;
	padding-right: 80px;
    font-weight: 900;
}

.text-for-chart{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-rows: 1;
    margin-top: auto;
    padding: 20px;
    font-family:'Roboto';
    font-size: 16px;
    line-height: 24px;
}
.chart-for-text{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-template-rows: 1;
}

.highcharts-border-radius{
    border-radius: 10px;
}

@media only screen and (max-width: 900px){
    .text-for-chart{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-template-rows: 1;
    }
    .chart-for-text{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-template-rows: 2;
    }
}

@media only screen and (max-width: 800px){
    .super-edu-body{
        padding: 0px;
        order: 1;
    }
    .edu-body{
        display: flex;
        flex-direction: column;
    }
    .super-wrap-highcharts{
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        width: 95%;
    }
    .edu-body .width-of-textchart{
        width: 80%;
        margin-bottom: 30px;
        order: 2;
    }
}